*.fbx filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
Assets/SD_Project/ filter=lfs diff=lfs merge=lfs -text
Library/metadata/3c/3c80f06f0e261d44cb2b560dc38535f6 filter=lfs diff=lfs merge=lfs -text
Assets/SD_Project/character.unity filter=lfs diff=lfs merge=lfs -text
Library/metadata/4f/4f4c63f27672b6f46bb2d02750d0f143 filter=lfs diff=lfs merge=lfs -text
Library/metadata/2a/2ac66400b285b264fbc91fe1dc306977 filter=lfs diff=lfs merge=lfs -text
Library/metadata/15/1558008af5111ab44ab61b6b8bb60a86 filter=lfs diff=lfs merge=lfs -text
Assets/SD_Project/Sample_Map.unity filter=lfs diff=lfs merge=lfs -text
Library/metadata/09/09fbc8600390c1f4584f0d5a167a8d2a filter=lfs diff=lfs merge=lfs -text
Library/metadata/10/107e1d424d6f21b41bf88469e45e6842 filter=lfs diff=lfs merge=lfs -text
Library/metadata/02/02dd5b510042eba4aaf29d1d08eb63a1 filter=lfs diff=lfs merge=lfs -text
Library/metadata/7b/7b4acda692621824cb89df4aef2ae926 filter=lfs diff=lfs merge=lfs -text
Library/metadata/ea/ea4ad3da9ffeaa747b340c28340fee32 filter=lfs diff=lfs merge=lfs -text
Library/metadata/a1/a1aa4c4d383c7904791289fb41ea74b9 filter=lfs diff=lfs merge=lfs -text
Library/metadata/98/98bd0d0455bb6134aa0f723aa884f335 filter=lfs diff=lfs merge=lfs -text
Library/metadata/9b/9ba277e720056554da06f4d13fe42c7d filter=lfs diff=lfs merge=lfs -text
Library/metadata/7c/7c44c5da186d9984fb790ab977a00274 filter=lfs diff=lfs merge=lfs -text
Library/metadata/cc/cc57d1589d94c5440b76ea97dba40165 filter=lfs diff=lfs merge=lfs -text
Library/metadata/9d/9dfc27711d0cb9648b637f43af9d4dd3 filter=lfs diff=lfs merge=lfs -text
Library/metadata/5c/5ce62d7bd47bdbe46aafd815ac6bbbff filter=lfs diff=lfs merge=lfs -text
*.resource filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
